.header__link {
  color: #2f80ed;
  text-decoration: none;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.header__link:hover {
  opacity: 0.4;
}
